<h1>You can change the item </h1>
<form action="/seller/edit/{{deliveryOne._id}}" method="POST">

  <label for="name">Name</label>
  <input type="text" name="name" value="{{deliveryOne.good.name}}">

  <label for="art" >Articul</label>
  <input type="number" name="art" value="{{deliveryOne.good.art}}">

  <label for="pic">Picture</label>
  <input type="text" name="pic" value="{{deliveryOne.good.pic}}">

  <label for="priceIn">Price</label>
  <input type="number" name="priceIn" value="{{deliveryOne.good.priceIn}}">

  <label for="quantity">Quantity</label>
  <input type="number" name="quantity" value="{{deliveryOne.quantity}}">

  <button type="submit"><i class="fas fa-check-circle"> I agree to change this item</i></button>
</form>
