<form action="/seller/new/add/{{id}}" method="POST">

  <label for="name">Name</label>
  <input type="text" name="name">

  <label for="art">Articul</label>
  <input type="number" name="art">

  <label for="pic">Picture</label>
  <input type="text" name="pic">

  <label for="name">Price</label>
  <input type="number" name="priceIn">

  <label for="quantity">Quantity</label>
  <input type="number" name="quantity">

  <button>Add new item</button>
</form>
<ul>
  {{#each deliveries}}
  <li><i class="fas fa-file">ID: {{this._id}}</i> <i class="fas fa-border-none"></i>
    Name : {{this.good.name}} <i class="fas fa-border-none"></i>
    Art : {{this.good.art}}<i class="fas fa-border-none"></i>
    Picture : {{this.good.pic}}<i class="fas fa-border-none"></i>
    Price : {{this.good.priceIn}} <i class="fas fa-border-none"></i>
    Quantity :{{this.quantity}}
  </li>
  <li><i class="fas fa-money-check-alt">Summ: {{this.summ}} </i></li>
  <hr>
  {{/each}}
</ul>
