<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/761d58c498.js" crossorigin="anonymous"></script>
  <title>shop</title>
</head>

<body>
  <div>
    <a href="/">Home</a>
    <a href="/logout">logout</a>
    <a href="/user/buyer">Buyer</a>
    <a href="/user/seller">Seller</a>
    <h1>sellers and buyers</h1>
    {{#if sellerFlag}}
    You are :{{type}}. Welcome {{name}}!
    {{> sellers }}
    {{/if}}

    {{#if buyerFlag}}
    You are :{{type}}. Welcome {{name}}!
    {{> buyersheader }}
    {{/if}}

  </div>


  {{{body}}}
</body>

</html>
